<h2>Import Products</h2>
{% if messages %}
{% for message in messages %}
<div class="alert {{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}

<form action="{% url 'link_start' %}" method="post">
    {% csrf_token %}
    <button type="submit">Start parse link</button>
</form>
<form action="{% url 'data_from_link_start' %}" method="post">
    {% csrf_token %}
    <button type="submit">Start parse data fron link</button>
</form>
<form action="{% url 'import_products' %}" method="post">
    {% csrf_token %}
    <button type="submit">Import products</button>
</form>